/* Define CSS Variables for Common Styles */
:root {
    --primary-color: #007BFF;
    --secondary-color: #333;
    --text-color: #fff;
    --background-color: #f4f4f4;
    --dark-background: #121212;
    --dark-secondary: #1c1c1c;
    --dark-primary: #1e88e5;
    --dark-text: #e0e0e0;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Header */
header {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 20px 0;
}
.profile-img {
    display: block; 
    width: 150px;  
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin: 20px auto; 
    border: 3px solid var(--primary-color); 
}

.btn {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

/* Dark Mode */
.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

.dark-mode header {
    background-color: var(--dark-secondary);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
